.gameCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
  }
  
  .gameCard {
    background-color: #7c7272;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    position: relative;
  }

.wishlistButton {
  position: absolute; 
  top: 5px; 
  right: 5px; 
  border: none; 
  background: none;
}


  .centeredButton {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 20px;
  }
  
  