.gameCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
  }
  
  .gameCard {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }

  .centeredButton {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 20px;
  }
  