.detailsCard{
    border: 1px solid black;
    border-radius: 5px;
    margin: 40px;
}

.screenshotsContainer{
    margin: 1px;
    padding: 1px;
}

.reviewButton{
    background-color: blue;
    color: white;
   font-size: larger;
}