.main {
    background-image: url('/assets/backgroundPic.png');
    background-size: cover; 
    background-repeat: no-repeat;  
}

.button {
    background-color:none;
    color: #000;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: red;
    color: #fff; 
  }
  
  .button:active {
    background-color: red;
    color: #fff; 
  }
  .h1{
    color: white;
    font-size: 40px;
  }
  
  .p{
    color: white;
    font-size: 20px;
  }